<h1>Song list:</h1>

<table>
    <tbody>
        <% @songs.each do |s| %>
            <tr>
            <td><%= link_to s.title, song_path(s) %></td>
            </tr>
        <% end %>
    </tbody>
</table>